body{
    font-family: 'PT Sans', sans-serif;
    position: relative;
}
.first-list{
    height: 102vh;
    margin: -25px -8px 0;
    color: white;
    background: url("src/png/background1.jpg") 100% 100%;
    background-size: cover;
}
.first-list-content{
    position: relative;
    width: 90%;
    max-width: 1092px;
    min-width: 819px;
    margin: 0 auto;
    padding: 25px 0;
}
.header{
    margin-top: 25px;
    font-size: 12px;
    font-weight: bold;
}
#first-list-logo-text object{
    position: absolute;
    top: 50px;
    left: 0;
}
#first-list-logo-text span{
    position: absolute;
    top: 50px;
    left: 75px;
}

#title{
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    margin: 100px 0 40px;
}

#domen-form{
    text-align: center;
    width: 724px;
    margin: 0 auto
}

.domen-form-div{
    margin: 0 auto;
    width: 574px;
    border-radius: 12px;
    background: #666666;
}

#domen-form-input{
    border-radius: 10px;
    padding: 12px;
    width: 550px;
    margin: 0 auto;
    background: white;
}
#domen-form-input-name{
    border: 0;
    width: 400px;
    height: 40px;
    font-size: 20px;
    outline: none;
}
#domen-form-input-btn{
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    background: #666666;
    color: white;
}

#domen-form-subtitle{
    /*margin: 10px;*/
    padding: 10px;
 }

#domen-form-subtitle-status{
    font-weight: bold;
}

#domen-form-subtitle a{
    color: #66cc33;
}

.create-acc-btn{
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: white;
    background: #66cc33;
}
#next-page{
    text-align: center;
    margin: 120px 0 40px;
}







.second-list{
    height: 102vh;
    min-width: 1190px;
    margin: -25px -8px 0;
}
.second-list-content{
    position: relative;
    width: 90%;
    height: 95%;
    max-width: 1092px;
    min-width: 819px;
    margin: 0 auto;
    padding: 25px 0;
}

#second-list-logo-text object{
    position: absolute;
    top: 50px;
    left: 0;
}
#second-list-logo-text span{
    position: absolute;
    top: 50px;
    left: 75px;
}

.inline-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px 1% 0;
    padding: 60px 0 0;
    width: 230px;
}

.businesscard-item:before{
    background: url("./src/features/businesscard.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

.dns-item:before{
    background: url("./src/features/dns.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 85px;
    width: 64px;
    height: 64px;
}

.certificate-item:before{
    background: url("./src/features/certificate.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

.autorenewal-item:before{
    background: url("./src/features/autorenewal.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 85px;
    width: 64px;
    height: 64px;
}

.cloud-item:before{
    background: url("./src/features/cloud.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

.freessl-item:before{
    background: url("./src/features/freessl.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

.dnssec-item:before{
    background: url("./src/features/dnssec.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

.redirect-item:before{
    background: url("./src/features/redirect.svg") no-repeat 50% 0;
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 64px;
    height: 64px;
}

li h3{
    height: 48px;
}

.inlayset-content{
    position: absolute;
    padding: 20px 40px;
    width: 920px;
    z-index: 5;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f7f7f7;
    text-align: left;
    top: 140px;
}

.businesscard-item .inlayset-content,
.cloud-item .inlayset-content{
    left: 0;
}

.dns-item .inlayset-content,
.freessl-item .inlayset-content{
    left: -255px;
}

.certificate-item .inlayset-content,
.dnssec-item .inlayset-content{
    left: -511px;
}

.autorenewal-item .inlayset-content,
.redirect-item .inlayset-content{
    left: -766px;
}

.create-acc-2{
    text-align: center;
    bottom: 40px;
}

















